body {
    display: grid;
    grid-template-areas:
    'header header header'
    'buttons buttons buttons'
    'colors colors colors'
    'messages messages message'
    'footer footer footer'
}
.header{
    grid-area: header;
}
.buttons {
    grid-area: buttons;
    display: flex;
}
.gameboard {
    grid-area: colors;
    display: flex;
    background: black;
}

.red{
    height: 200px;
    width: 200px;
    background-color:rgba(255, 0,0,.5) ;

}
.red:hover {
    background-color: rgba(255, 0,0,1);
}
.redlight{ 
    background-color: rgba(255, 0,0,1);
}

.blue{
    height: 200px;
    width: 200px;
    background-color:rgba(0, 0,255,.5);
    
}
.blue:hover {
    background-color: rgba(0, 0,255, 1);
}
.bluelight{ 
    background-color: rgba(0, 0,255, 1);
}
.green{
    height: 200px;
    width: 200px;
    background-color: rgba(0, 255,0,.5);
}
.green:hover{
    background-color: rgba(0, 255, 0,1);
}
.greenlight{ 
    background-color: rgba(0, 255, 0,1);
}

.yellow{
    height: 200px;
    width: 200px;
    background-color: rgba(238, 255, .1, .5);
}
.yellow:hover {
    background-color: rgba(238, 255, 0,1);
}
.yellowlight{ 
    background-color: rgba(238, 255, 0,1);
}

.orange{
    height: 200px;
    width: 200px;
    background-color: rgba(255, 157, 0, .5);
}
.orange:hover {
    background-color: rgba(255, 157, 0, 1);
}
.orangelight{ 
    background-color: rgba(255, 157, 0,1);
}





.textarea{
    grid-area: messages
}
.footer{
    grid-area: footer;
}
div {
    border: solid;
   
}